bin
pkg
vendor
src/errors
src/lexer/*
src/parser
src/token
src/util
!src/util/stack.go
!src/token/token_helper.go
!src/lexer/lexer_test.go
!src/lexer/lexer_wrapper.go
*.S
*.dot
*.html
!src/main/parser/templ.html
a.out